* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.6;
  color: #111;
  background: #ffffff;
}

header {
  background: #222;
  color: white;
  padding: 1rem;
  text-align: center;
}



header h1 {
  font-size: 0.5rem;
  color: #1F4E79;
}


nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}


h2 {
  border-bottom: 2px solid #ddd;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
}


/* footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: white;
  position: sticky;
  bottom: 0;
}
 */

/* Headshot stuff */
.headshot {
  float: left;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 0 1rem 1.5rem;
  border-radius: 4px;
  border: 5px solid #ccc;
}

